<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- lang.global.website %> - <%= title %></title>
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/rainbow.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<main style="overflow-x: hidden;">